/* GENERAL CONTENT AND BUTTON BAR */
.anchor {
    -fx-background-image: url("../images/background1.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-width:100%;
}
.cajaFiltro {
    -fx-background-color: rgba(0,0,0,0.6);
    -fx-height: 100%;
}
.posterDesign {
    -fx-border-color: blue ;
    -fx-border-width: 5 ;
    -fx-border-style: segments(10, 15, 15, 15)  line-cap round ;
}
.buttonbar {
    -fx-background-color: rgba(255,255,255,0.7);
    -fx-background-radius:20px;
    -fx-text-alignment: center;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
.button {
    -fx-background-color:#c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
.radioBackground {
    -fx-background-color: rgba(0,0,0,0.7);
    -fx-background-radius:20px;
    -fx-height: 40px;
}

/* TABLE VIEW STYLES */
.table-view {
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-background-radius: 20px;
}
.table-view .filler {
    -fx-background-color: #F7F7F7;
    -fx-size: 35px;
    -fx-border-color: -fx-box-border;
    -fx-border-insets: -1 0 0 -1;
    -fx-padding: 0 5 0 0;
}
.table-row-cell {
    -fx-background-color: rgba(255,255,255,0.75);
    -fx-background-insets: 0, 0 0 1 0;
}
.table-row-cell:odd {
    -fx-background-color: rgba(255,255,255,0.85);
}
.table-view:focused .table-row-cell:focused,
.table-view:focused .table-row-cell:focused:odd {
    -fx-background-color: -fx-box-border, #F9F9F9;
    -fx-background-insets: 0, 1, 2;
}
.table-cell {
    -fx-padding: 0.5em;
    -fx-border-color: transparent -fx-box-border transparent transparent;
    -fx-font: 13px "Arial";
    -fx-text-fill: #25284a;
}
.table-view .column-header {
    -fx-background-color: linear-gradient(#880016, #1c2252);
    -fx-font-family: "Arial";
}
.table-view .column-header-background {
    -fx-background-color: transparent;
}
.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}
.nameStyle {
    -fx-font-family: "Arial";
    -fx-text-fill:#880016;
    -fx-font-weight: bold;
}
.scroll-bar {
    -fx-background-color: rgba(0,0,0,0.6);
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-background-insets: 0,1,1;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 20px;
}
.scroll-bar:vertical .thumb {
    -fx-background-color:#880016;
    -fx-background-insets: 1;
    -fx-background-radius: 10px;
}
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #d11002;
}
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: black;
}


/* BARCHART STYLES */
.barchart {
    -fx-background-color: rgba(0,0,0,0.4);
    -fx-background-radius: 10px;
    -fx-padding: 20px;
}
.chart-bar {
    -fx-background-color: linear-gradient(#880016, #1c2252);
    -fx-background-radius:3px 3px 0px 0px;
}
.chart-bar:hover {
    -fx-background-color: linear-gradient(#bf0000, #bf0000);
}
.chart-plot-background {
    -fx-background-color: rgba(255,255,255,0.7);
}
.axis-label {
    -fx-alignment: CENTER;
    -fx-tick-label-fill: #ffe205;
    -fx-text-fill: #ffe205;
}
.chart-title {
    -fx-font-size: 22px;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 3, 0.0 , 0 , 1 );
    -fx-font-weight: bold;
 }
 .axis {
    -fx-text-fill: #4682b4;
 }
.chart-value {
    -fx-text-fill: #ffe205;
    -fx-text-size : 14px;
    -fx-font-weight: bold;
}
.chart-horizontal-grid-lines {
    -fx-stroke:rgba(0,0,0,0.3);
    -fx-stroke-width: 1px;
}

/* PIE CHART STYLE */
.pieChart {
    -fx-background-color: rgba(0,0,0,0.4);
    -fx-background-radius: 10px;
    -fx-padding: 20px;
    }
.chart-pie-label-line {
    -fx-stroke: yellow;
    -fx-fill: yellow;
    }
.chart-pie-label {
    -fx-fill: white;
    -fx-background-color: rgba(0,0,0,0.8);
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
       }
.chart-legend {
   -fx-background-color: rgba(255,255,255,0.8);
   -fx-stroke: white;
    }